<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="/css/global.css">
    <link rel = "stylesheet" href="/css/account.css">
    <script src="/js/global.js"></script>
    <script src="/js/account.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    
</head>
<body>

    <h2>My Account</h2>

    <body>
        <!-- Modal -->
        <div id="theModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <h2>Create Account</h2>
                </div>
    
                <div class="modal-body">
                    <form id="account">
                        <label for="username">Username:</label><br>
                        <input type="text" id="username" name="username"><br>
    
                        <label for="firstname">First Name:</label><br>
                        <input type="text" id="firstname" name="firstname"><br>
    
                        <label for="lastname">Last Name:</label><br>
                        <input type="text" id="lastname" name="lastname"><br>
    
                        <label for="DOB">Date of Birth:</label><br>
                        <input type="text" id="DOB" name="dateofbirth"><br>
    
                        <label for="password">Password:</label><br>
                        <input type="text" id="password" name="password"><br>
    
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>

    
</body>
</html>