<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>

    <title>Crypto Tracker</title>
</head>
<body>

    <div class="tracker">
        <title>Crypto Tracker</title>
    </div>

    <div class="text">
        <h1>Cryptocurrency Tracker</h1>
    </div>

    <div class="spacebar">
        <p>Press the spacebar to continue</p>
    </div>

    <div class="container">
        <img src="images/unicorntest.jpg" alt="Unicorn">
    </div>

</body>
</html>
