<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/global.js"></script>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>

    <form id="loginForm">
        <div class="container">
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter Username" id="username" required>

            <label for="password">Password:</label>
            <input type="password" placeholder="Enter Password" id="password" required>

            <button id="login" type="submit">Login</button>
            <button type="button" class="cancelbtn"><a href="/">Cancel</a></button>
            <a id="create" href="/account">Create account</a>
        </div>
    </form>
</body>

</html>
