<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="/css/global.css">
    <link rel = "stylesheet" href="/css/portfolio.css">
    <script src="/js/global.js"></script>
    <script src="/js/portfolio.js"></script>
</head>

<h2>Portfolio</h2>

<body>
    <table id="cryptoTable">
        <thead>
            <tbody>
            <tr>
            <th id="rank">Rank</th>
            <th id="name">Name</th>
            <th id="symbol">Symbol</th>
            <th id="price">Price (USD)</th>
            <th id="priceChange">24hr Change %</th>
            <th id="marketCap">Market Cap (USD)</th>
            <th id="supply">Supply</th>
            <th id="volume">Volume (24hr)</th>
            <th id="volumeChange">VWA Price (24hr)</th>
            </tbody>
        </tr>
    </thead>
</table>
    
        <!-- Modal -->
        <div id="theModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <h2>Details</h2>
                </div>
    
                <div class="modal-body">
                    <table id="modalCryptoTable">
                        <tr id="modaltr">
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Price (USD)</th>
                            <th>24hr Change (%)</th>
                            <th>Market Cap (USD)</th>
                            <th>Supply</th>
                            <th>Volume (24hr)</th>
                            <th>VWA Price (24hr)</th>
                        </tr>
                    </table>
                </div>
    
                <!-- Buying Crypto-->
                <form id="buy">
                    <label for="shares">Number of Shares</label><br>
                    <input type="text" id="shares" required><br>
                    <input id="Buy" type="submit" value="Buy">
                    <input id="Sell" type="submit" value="Sell">
                </form>
    
                <div id="bought" style="display: none;">
                    This is the text that appears when you click the button.
                </div>
    
            </div>
        </div>
    
    </body>
    
    </html>